.container-fluid {
  height: 100vh;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.cold {
  background: url("./assets/cold.jpg");
  background-size: cover;
}

.warm {
  background: url("./assets/warm.jpg");
  background-size: cover;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
